{% extends "layout_guidance.html" %}

{% block page_title %}
  Add or change a pattern
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="https://www.gov.uk/service-manual">Service manual</a>
    </li>
    <li>
        <a href="https://www.gov.uk/service-manual/user-centred-design/index.html">User centered design</a>
    </li>
    <li>
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/index.html">Patterns</a>
    </li>
    <li>
        Add or change a pattern
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Pattern  
      <br></span>Add or change a pattern on service manual
      </h1>

      <p class="lede">
        How to share your work for others in government to reuse
      </p>

    <br>

    <p class="design-update">
    Published by: <a href="https://www.gov.uk/service-manual/user-centred-design/index.html">Design community</a><br>
    Last updated: 11 August 2016
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

  <p class="bold">Page contents:</p>

  <ol class="list list-number pattern_nav">
    <li><a href="#1">design and test</a></li>
    <li><a href="#2">blog about research and testing</a></li>
    <li><a href="#3">publish work for others to see</a></li>
    <li><a href="#4">discuss with community</a></li>
    <li><a href="#5">submit pattern for review</a></li>
    <li><a href="#6">how patterns are reviewed</a></li>
    <li><a href="#7">publish on service manual</a></li>
  </ol>

  </div>

  <div class="column-two-thirds">

  <h3 class="heading-medium" id="1" style="margin-top: 0px;">1. Design and test</h3>

  <p>From testing your service with users, you may see the need for a new pattern or to change a <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns">existing one</a>.</p>

  <p>You may have observed one or more of the following:</p>

  <ul class="list list-bullet">
    <li>a unmet user need</li>
    <li>same problem is trying to be solved on at least 2 different services</li>
    <li><a href="#">A/B testing</a> a existing pattern and your design</li>    
  </ul>
  
  <hr>

  <h3 class="heading-medium" id="2">2. Blog about research and testing</h3>

  <p>Every pattern is published with user research and usability testing supporting it.</p>

  <p>Blogging is a good way to document and share this work, as shows what was involved and when it was done, while protecting users privacy.</p>

  <p>When you blog about the work supporting a pattern include:</p>

  <ul class="list list-bullet">
    <li>user need of the service you were testing</li>    
    <li>how many users you tested with</li>
    <li>how many rounds of research you did</li>
    <li>what further testing is needed</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="3">3. Publish work for others to see</h3>

  <p>Part of something becoming a pattern is it being discussed and reviewed.</p> 

  <p>For this to happen the work, be it code, words or a prototypes, needs to publish so others can see and interact with it.</p>

  <p>Publish:</p>

  <ul class="list list-bullet">
    <li>code in a public repository on <a href="https://github.com/">GitHub</a></li>    
    <li>prototypes on <a href="https://www.heroku.com/">Heroku</a>, without a password</li>
    <li>research and testing on a <a href="https://www.blog.gov.uk/">government blog</a>, if possible</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="4">4. Discuss with community</h3>

  <p>Patterns come about through consensus.</p>

  <p>Create or edit a page in the <a href="https://github.com/">patterns wiki</a>, so the community can discuss it.</p>

  <p>Let the community know about the pattern, for example via the <a href="#">mailing list</a> or meet ups.</p>

  <p>Use the guidance for <a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/document/d/1L0AnTM0AuQxhtdh_wbgGFbMXFqhbjQoGDUeymi5VaSo/edit?usp=sharing">how to maintain the patterns wiki</a>.</p>

  <hr>

  <h3 class="heading-medium" id="5">5. Submit pattern for review</h3>

  <p>To ensure qualify, patterns are reviewed before they go onto service manual.</p> 

  <p>To submit a pattern include:</p>

  <ul class="list list-bullet">
    <li>short description of the user need the pattern meets</li>
    <li>link to blogpost about research and testing</li>
    <li>link to code</li>
    <li>link to prototype</li>
    <li>link to discussion about the pattern</li>
  </ul>

  <p><a href="#">Email these to service manual team</a></p>

  <p>You'll be notified on when your pattern will be reviewed.</p>

  <hr>

  <h3 class="heading-medium" id="6">6. How patterns are reviewed</h3>

  <p>Every month a group meet to review patterns to be published.</p>

  <p>This group includes:</p>

  <ul class="list list-bullet">
    <li>Two designers and/or developers in departments</li>
    <li>GDS designer</li>
    <li>GDS content designer</li>
    <li>GDS user researcher</li>
    <li>GDS accessibility</li>
    <li>GDS frontend developer</li> 
  </ul>

  <p>Group decides:</p>

  <ul class="list list-bullet">
    <li>new patterns to publish</li>
    <li>if a new pattern needs more work</li> 
    <li>to change existing patterns</li>
  </ul>

  <p>In order for decisions are consistent, there are standards to inform them.</p>

  <p>A standard pattern must have:</p>

  <ul class="list list-bullet">
    <li>been through usability research</li>
    <li>accessible to <a href="https://www.w3.org/WAI/WCAG20/quickref/">WCAG AA</a></li>
    <li>been in use in a service</li>
    <li>has no major unresolved discussions</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="7">7. Publish on service manual</h3>  

  <p>All contributors to a pattern are published on service manual.</p>

  <p>After the decision to publish a pattern, the service manual team writes content on when and how to use it. This may involve working with it's contributors.</p>

  <p>Patterns may need to be iterated from the ones submitted, to make them consistent and accessible.</p>

    </div>
  </div>

</main>

{% endblock %}


